.layout {
  display: flex;
  flex-direction: column;

  gap: 22px;
  flex: 1;

  position: fixed;
  inset: 0;
  z-index: 20;
  background: $black;

  padding: 18px 32px;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center left;
  flex: 0;
}

.container {
  flex: 1;
  overflow: auto;
  padding: 48px 0;
}

.navigator {
  display: flex;
  flex-direction: column;
  gap: 22px;

  a {
    color: #C7D2BE;

    &:hover {
      color: #fff;
    }

    transition: color 120ms linear;
  }
}


.isActive {
  color: $green-03 !important;
}