
.application { 
  padding: 42px;
  position: relative;
  border: 1px solid #22271d;
  border-radius: 7px;

  background-size: cover;
  background-position: center;

  @include respond-to(mobile) {
    padding: 32px;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(21, 26, 16, 0.8) 0%, rgba(0, 0, 0, 1) 50%, rgba(23, 23, 23, 0.95) 100%);
    border-radius: 7px;
    z-index: 2;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2 {
    color: #8af827;
  }

  h2, span {
    @include crtAnimation();
  }
  
}

.inner {
  display: grid;
  grid-template-columns: 1fr 0fr;
  place-content: center;

  @include respond-to(mobile) {
    grid-template-columns: 1fr;
  }

  gap: 22px;
  flex: 1;
  width: 100%;

  position: relative;
  z-index: 4;

}
