.layout {
  display: flex;
}

.form {
  display: flex;
  @include pageMargin();

  position: relative;
  z-index: 4;
}

.header {
  @include space();
  
  height: 600px;
  position: absolute;
  width: 100%;
}

.gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  z-index: 2;
}

.alien {
  color: $green-03;
  @include crtAnimation();
}