.layout {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: stretch;
  height: 100%;
  gap: 12px;

  @include respond-to(mobile) {
    grid-template-columns: 1fr;
  }

  @include respond-to(tablet-vertical) {
    grid-template-columns: 1fr;
  }
}

.banner {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  @include respond-to(mobile) {
    min-height: 300px;
  }
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 32px;
  width: 100%;
  gap: 18px;
  background: linear-gradient(-120deg, #060903 0%, rgb(21 39 4) 100%);
  border: 4px dashed #66933e;
  border-radius: 12px;
  overflow: hidden;
}

.image {
  width: 92px;
  height: 92px;
  object-fit: cover;
  border-radius: 18px;
}

.header {
  display: flex;
  align-items: center;

  @include respond-to(mobile) {
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    position: absolute;
    z-index: 4;
    inset: 0;
    background: linear-gradient(0deg, #0d1208 0%, rgb(40 46 34 / 30%) 100%);
  }
}

.project {
  display: flex;
  align-items: center;
  gap: 18px;
  
  @include respond-to(mobile) {
    max-width: 20%;
    flex-direction: column;
  }
}

.date {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
  padding: 14px 18px;
  background: linear-gradient(-120deg, #0c1108 0%, rgb(4, 5, 3) 100%);
  place-items: center left;
  border: 1px solid #66933e;
  border-radius: 12px;

  @include respond-to(mobile) {
    grid-template-columns: 1fr;
    gap: 0;
  }

  span {
    color: #8af827;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include respond-to(mobile) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  color: #C7D2BE;

  @include respond-to(mobile) {
    flex-direction: column;
    gap: 4px;
  }
}

.value {
  font-weight: bold;
  color: $white;
}

.description {
  color: #C7D2BE;
}
