# WalletConnect Configuration
VITE_WC_PROJECT_ID=b2ace378845f0e4806ef23d2732f77a4
VITE_WC_RELAY_URL=wss://relay.walletconnect.com

# MetaMask Snap Configuration
VITE_SNAP_ORIGIN=npm:@qubic-lib/qubic-mm-snap
VITE_SNAP_VERSION=

# HTTP Endpoint Configuration
VITE_HTTP_ENDPOINT=http://194.247.186.149:8000

VITE_APP_ENV=dev
VITE_APP_ENDPOINT=http://127.0.0.1:4000
