.section {
    display: flex;
    flex-direction: row;
    gap: 22px;
    width: 100%;
  
    div[data-label="inner"] {
      width: 100%;
    }
  
    @include respond-to(mobile) {
      flex-direction: column;
    }
  
    @include respond-to(tablet-vertical) {
      flex-direction: column;
    }
  }
  
  .field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
  }
  
  .actions {
    display: flex;
    flex-direction: row;
    gap: 18px;
    flex: 1;
    width: 100%;
    max-width: 500px;
  
    button {
      flex: 1;
    }
  }
  
  .line {
    display: flex;
    flex-direction: column;
    gap: 4px;
  
    h2 {
      color: $green-03;
    }
  
    p {
      color: $green-04;
    }
  }
  
  
  .welcome {
    color: $green-03;
  }
  
  .inline {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
  
    @include respond-to(tablet-vertical) {
      grid-template-columns: 1fr;
    }
  
    @include respond-to(mobile) {
      grid-template-columns: 1fr;
    }
  
    &.data {
      grid-template-columns: 0fr 0fr;
  
      @include respond-to(tablet-vertical) {
        grid-template-columns: 1fr;
      }
  
      @include respond-to(mobile) {
        grid-template-columns: 1fr;
      }
    }
  }
  