.layout {
  display: flex;
  flex-direction: column;
  background: linear-gradient(20deg, #0d1803 0%, rgba(0, 0, 0, 0.7) 100%);
  border: 2px solid rgb(42, 53, 30);
  border-radius: 8px;
  overflow: hidden;

  box-shadow: 0 0 49px -23px #89f82700;
  transition: all 120ms ease-in-out;
  border-bottom-color: #3a5520;

  &:hover {
    box-shadow: 0 0 49px -23px #8af827;
    border-color: #3a5520;

    .state {
      border-left-width: 4px;
    }

    .banner {
      img {
        transform: scale(1.1);
      }
    }

    .footer {
      color: $green-03;
    }
  }
  cursor: pointer;
  user-select: none;
}

.banner {
  overflow: hidden;
  position: relative;
  height: 180px;
  background-color: #00000045;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 120ms linear;
    transform: scale(1);
  }

  &:after {
    content: "";
    inset: 0;
    background: linear-gradient(135deg, rgb(0 0 0) 0%, rgb(0 0 0 / 6%) 100%);
    position: absolute;
    z-index: 1;
  }
}

.state {
  position: absolute;
  left: 0;
  top: 12px;
  padding: 12px 22px;
  background-color: #0e1c06;
  z-index: 2;
  border-left: 0px solid transparent;
  transition: border 120ms ease-in-out, right 120ms ease-in-out;

  p {
    text-transform: uppercase;
  }

  color: #fff;
  backdrop-filter: blur(4px);

  &.draft {
    color: #b5b5b5;
    background: linear-gradient(to right, #2f2f2f 0%, #00000000 100%);
    border-left-color: #b5b5b5;
  }

  &.requestmoreinfo {
    color: #ffcb4d;
    background: linear-gradient(to right, #6a4717 0%, rgba(0, 0, 0, 0) 100%);
    border-left-color: #ffcb4d;
  }

  &.closed, &.failed {
    color: #ff5c5c;
    background: linear-gradient(to right, #632020 0%, rgba(0, 0, 0, 0) 100%);
    border-left-color: #ff5c5c;
  }

  &.readytovote {
    color: #61b8ff;
    background: linear-gradient(to right, #123841 0%, rgba(0, 0, 0, 0) 100%);
    border-left-color: #61b8ff;
  }

  &.upcoming, &.fundingphase1, &.fundingphase2, &.fundingphase3 {
    color: #8af827;
    background: linear-gradient(to right, #1e4112 0%, rgba(0, 0, 0, 0) 100%);
    border-left-color: #8af827;
  }
}

.counter {
  padding: 4px 18px;
  background-color: #0e1c06;
  border-top: 1px solid #242f1a;
  color: $green-03;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 18px;
  color: #fff;
  flex: 1;
}

.header {
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: center;
  gap: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    color: $green-04;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #C7D2BE;
}


.value {
  color: #ffffff;
}

.footer {
  padding: 14px 22px;
  color: #8af827;
  background: linear-gradient(to bottom, #00000000 0%, #182b0a 100%);
  border-bottom-color: #32491a;
}