.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.icon {
  color: #8af827;

  font-size: 78px;
  @include crtAnimation();
}


.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
