.tabs {
  padding: 16px 0;

  @include respond-to(mobile) {
    padding: 14px 0;
  }
}

.loader {
  padding: 20vh 0;
  width: 100%;

  
  display: grid;
  place-items: center;
}

.container {
  width: 100%;
}