.layout {
  display: flex;

  @include respond-to(mobile) {
    flex-direction: column;
    gap: 52px;
  }
  @include respond-to(tablet-vertical) {
    flex-direction: column;
    gap: 52px;
  }
}

.icon {
  position: relative;
  width: 62px;
  height: 62px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.iconBackground {
  position: absolute;
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }
}


.svg {
  position: relative;
  z-index: 4;

  line-height: 0;
  color: $green-04;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    width: 100%;
    height: 4px;
    background: #6a9f3a;

    @include respond-to(mobile) {
      display: none;
    }

    @include respond-to(tablet-vertical) {
      display: none;
    }
  }

  &:nth-child(1) {
    &::before {
      left: 55%;
    }
  }

  &:last-child {
    &::before {
      left: -55%;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 42px;

  max-width: 400px;

  @include respond-to(mobile) {
    padding: 0;
  }
}


.title {
  color: #649C30;
  white-space: nowrap;
}

.description {
  color: #C7D2BE;
}

