.layout {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  padding: 18px;
  background: #11140d;
  border: none;
  border-radius: 8px;
  outline: 1px solid #303429;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  resize: vertical;

  &:focus {
    outline: 1px solid yellowgreen;
  }

  min-height: 250px;

  transition: 120ms linear;
  transition: 120ms linear;

  &::placeholder {
    color: rgba(255, 255, 255, 0.2);
  }

  &.withError {
    outline: 1px solid $red-03;
  }
}
