$avatar-size: 128px;

.layout {
  position: relative;

  &:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    content: "";
    inset: 0;
    position: absolute;
    z-index: 2;
    height: 100vh;
  }
}

.banner {
  position: relative;
  z-index: 4;
  @include pageMargin();
  
  padding-top: 90px !important;

  img {
    object-fit: contain;
    object-position: center;
  }
}

.stars {
  @include space();
}

.content {
  @include pageMargin();
  position: relative;
  z-index: 4;
  

  &.extended {
    padding: 62px 22px;
    display: flex;
    flex-direction: column;
    gap: 22px;

    @include respond-to(mobile) {
      padding: 32px 22px;
    }
  }
}

.bar {
  padding: 10px 0;
  background: linear-gradient(270deg, #0d1803 0%, rgba(0, 0, 0, 0.7) 100%);
  border-bottom: 1px solid rgba(42, 53, 30, 0.8);
  border-top: 1px solid rgba(42, 53, 30, 0.8);
  backdrop-filter: blur(6px);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  color: $green-03;

  @include respond-to(mobile) {
    flex-direction: column;
    margin-left: 0;
    align-items: flex-start;
    gap: 0;
  }
}

.avatar {
  position: relative;
  left: 0;
  top: 0;
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 8px;
  border: 1px solid rgba(42, 53, 30, 1);
  padding: 6px;
  background: linear-gradient(0deg, #0d1803 0%, rgba(0, 0, 0, 0.7) 100%);

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
}

.inline {
  display: grid;
  grid-template-columns: 0fr 1fr;
  gap: 22px;
  align-items: flex-start;

  @include respond-to(mobile) {
    grid-template-columns: 1fr;
    place-self: center;
    place-items: center;
  }

  &.title {
    grid-template-columns: 1fr 0fr;
    align-items: center;

    @include respond-to(mobile) {
      grid-template-columns: 1fr;
    }
  }
}

.toBottom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 12px;
  flex: 1;
  height: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;

  @include respond-to(mobile) {
    flex-direction: column;
    gap: 8px;

    a, button {
      width: 100%;
    }
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 22px;
  padding: 22px 0;

  @include respond-to(tablet-vertical) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(mobile) {
    grid-template-columns: 1fr;
  }
}

.card {
  padding: 14px 18px !important;
  box-shadow: 0 0 22px #203b07;
  border: 1px solid rgb(55 71 37 / 80%);
}

.tokenImage {
  border-radius: 100%;
}