.layout, .section {
  width: 100%;
}

.section {
  padding: 60px 0;
  
  @include respond-to(mobile) {
    padding-top: 42px;
  }

  &:nth-child(1) {
    position: relative;
    height: 100vh;
    padding-bottom: 36px;

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, transparent, black);
    }
  }

  &.green {
    border-top: 4px dashed #66933e;
    border-bottom: 4px dashed #66933e;
    padding: 0 !important;
    background-color: #080b05;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.stepper {
  position: fixed;
  top: calc(100vh / 2);
  right: 22px;
  z-index: 4;
}

.container {
  @include pageMargin();
  gap: 42px;

  &.withHeight {
    min-height: 500px;
  }
}