.layout {
  display: flex;
  justify-content: center;
  align-items: center;

  @include crtAnimation();
}

.green {
  color: #8af827;
}

.gray {
  color: grey;
}

.inherit {
  color: inherit;
}

/* HTML: <div class="loader"></div> */
.loader {
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, currentColor 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, currentColor);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 20%), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.full {
  height: calc(100vh - 62px);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
