.container {
  display: flex;
  flex-direction: column;
  align-items: center;;
  gap: 42px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #8af827;
}

.title {
  color: #C7D2BE;

  @include title();
  font-size: 24px !important;
}

.stepper {
  border-radius: 12px;
  padding: 32px 12px;
  background: linear-gradient(-120deg, #1518120e 0%, rgba(10, 17, 6, 0.834) 100%);
  border: 1px solid #344526;
  backdrop-filter: blur(12px);
}
