

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  &.red {
    .label {
      color:  $red-03;
    }

    .inner {
      background-color: $red-03;
      box-shadow: 0 0 40px $red-03;
    }
  }

  &.green {
    .label {
      color: $green-03;
    }

    .inner {
      background-color: $green-03;
      box-shadow: 0 0 40px $green-03;
    }
  }

  &.disabled {
   opacity: 0.5;
   filter: grayscale(100%);
  }
}

.inner {
  height: 100%;
  border-radius: 8px;
}


.bar { 
  background-color: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  height: 8px;
}

.label {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}