.layout {
  display: flex;
  flex-direction: column;
  padding: 38px 22px;
  background-color: #11140d;
  border: 1px solid #303429;
  align-items: center;
  justify-content: center;
  gap: 22px;
  cursor: pointer;
  border-radius: 8px;

  &:not(.isDragActive):hover {
    border-color: $green-03;;
    background: #11140d;
  }

  &.isDragActive {
    border: 1px solid $green-03;;
  }

  &.hasValue {
    padding: 0;
    gap: 0;
    border: none;
  }

  transition: background-color 120ms linear, border-color 120ms linear;
}

.icon {
  color: $green-03;

  svg {
    width: 62px;
    height: 62px;
  }
}


.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 500px;
}

.description {
  color: $green-04;
}

.fileAttachment {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 42px 0;
  flex: 1;
  width: 100%;
  border: 1px solid $green-01;
  border-radius: 8px;
  background: radial-gradient(ellipse at bottom, #1d2d0f 0%, #070905 100%);
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  gap: 12px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
